main {
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    background: var(--brand-purple, #8C30F5);
    min-height: 100vh;
}
.container {
    width: 100%;
    max-width: 1110px;
}
h1 {
    text-align: left;
    width: 730px;
    color: var(--default-white, #FFF);
    padding-top: 80px;
    padding-bottom: 32px;
    font-size: 48px
}
.icon-header {
    width: 176px;
    height: 117px;
    position: absolute;
    top: 125px;
    right: 155px;
}
h4 {
    padding-bottom: 8px;
    font-size: 18px;
    text-align: center;
}
p {
    line-height: 24px;
    font-size: 14px;
}
.d-flex-first {
    display: flex;
    gap: 30px;
}
.box-left {
    width: 540px;
    /* height: 304px; */
    padding: 30px;
    position: relative;
    border-radius: 10px;
    background: white;
}
.box-left::after {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: 250px;
     bottom: -20px; /* Положение треугольника */
    border: 11px solid transparent; /* Прозрачные границы */
    border-top: 10px solid white; /* Добавляем треугольник */
}
.box-right {
    width: 540px;
    /* height: 304px; */
    padding: 30px;
    position: relative;
    border-radius: 10px;
    background: white;
}
.box-right::after {
    content: ''; 
    position: absolute; /* Абсолютное позиционирование */
    left: 250px;
     bottom: -20px; /* Положение треугольника */
    border: 11px solid transparent; /* Прозрачные границы */
    border-top: 10px solid white; /* Добавляем треугольник */
}
.d-flex-second {
    padding-top: 30px;
    padding-left: 175px;
    display: inline-flex;
    align-items: center;
    gap: 320px
    
}
.text {
    margin-left: 16px;
}
.right-clients,
.left-clients {
    display: flex;
    align-items: center;
}
.icon-bottom {
    display: flex;
    padding: 40px;
    justify-content: center;
}
@media screen and (max-width: 640px) {
    .d-flex-second {
        padding: 10px;
        gap: 62px;
}
    .left-clients {
    padding: 30px;
}
}
@media screen and (max-width: 570px) {
    .box-left::after,
    .box-right::after
     {
        left: 80px;
    }
}