main {
    margin: 0;
    padding: 0;
    font-family: "Manrope", sans-serif;
    background: var(--brand-purple, #8C30F5);
    min-height: 100vh;
}
.container {
    width: 100%;
    max-width: 1110px;
}
h1 {
    text-align: left;
    width: 730px;
    color: var(--default-white, #FFF);
    padding-top: 80px;
    padding-bottom: 32px;
    font-size: 48px
}
p {
    line-height: 24px;
    font-size: 14px;
}
.d-flex {
    display: flex;
    gap: 30px;
}
.box-left {
    width: 540px;
    /* height: 304px; */
    padding: 30px;
    border-radius: 10px;
    background: #C4C4C4;
}
